
#root {
  background-image: url(images/codeOverFlow_background.jpeg);
}
#nav-bar {
  float: left;
  height: "150rem";
}

#main-container {
  float: right;
  /* margin: auto; */
  margin-top: 46px;
  position: relative;
  /* width: "70rem"; */
  width: auto;
}

#single-question {
  float: right;
  /* margin: auto; */
  margin-top: 46px;
  position: relative;
  /* width: "70rem"; */
  width: auto;
}

#single-question {
  margin-left: 15px;
}

#signup-card {
  margin-top: 46px;
}
#login-card {
  margin-top: 46px;
  /* margin-left: 10px; */
}

#user-image {
  width: 40px;
  height: auto;
  border-radius: 30%;
  float: right;
}

#user-name {
  float: right;
}

#q-asked-time {
  float: right;
}

#all-header-btns {
  float: right;
}

.add-question {
  float: right;
}

#question-form,
#answer-form {
  margin-top: 40px;
  margin-left: 20px;
}
