#root {
  background-image: url(images/codeOverFlow_background.jpeg);
}

#about-page {
  background-image: url(images/codeOverFlow_background.jpeg);
}

#nav-bar {
  float: left;
  height: "150rem";
  margin-top: 21px;
}

#main-container {
  /* background-image: url(images/codeOverFlow_background.jpeg); */
  float: right;
  /* margin: auto; */
  margin-top: 46px;
  position: relative;
  /* width: "70rem"; */
  width: auto;
}

#single-question {
  /* float: right; */
  /* margin: auto; */
  margin-top: 46px;
  position: relative;
  /* width: "70rem"; */
  /* width: auto; */
  height: 60rem;
  margin-left: 15px;
}

#signup-card {
  margin-top: 46px;
  height: 60rem;
}

#login-card {
  margin-top: 46px;
  height: 60rem;

  /* margin-left: 10px; */
}

#user-image {
  width: 40px;
  height: auto;
  border-radius: 30%;
  float: right;
}

#user-name {
  float: right;
}

#delete-question {
  float: right;
  margin-right: 15px;
}

#q-asked-time {
  float: right;
}

#all-header-btns {
  float: right;
}

.add-question {
  float: right;
}

#question-form {
  margin-top: 50px;
  height: 60rem;

  /* margin-left: 20px; */
}

#edit-question-form {
  margin-top: 50px;
  height: 60rem;
  /* margin-left: 20px; */
}

#answer-page {
  /* margin-top: 40px; */
  margin-left: 10px;
  height: 60rem;
}
#answer-form {
  margin-top: 40px;
  margin-left: 20px;
  height: 60rem;
}
